*{
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(9, 159, 159);
}

.container{
    padding: 5px;
    max-width: 400px;
    width: 100%;
    height: 400px;
    background-color: rgb(9, 94, 94);
    color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container h1{
    text-align: center;
}

.board{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.weaponBoard{
    border: 2px solid white;
    margin: 5px;
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
}
.weaponBoard div{
    margin: 20px;
}
.weapon{
    display: flex;
    justify-content: space-around;
}
.weapon button{
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: 2px solid white;
    background-color: rgb(9, 94, 94);
    border-radius: 10px;
    color: white;
    transition: .3s;
    text-align: center;
    font-size: 25px;
}

.weapon button:hover{
    transform: scale(1.3);
}

.containerFooter{
    display: flex;
    margin: 5px 5px;
    flex-direction: row;
    justify-content: space-around;
}

.loader {
    border: 3px solid #f3f3f3; /* Light grey border */
    border-top: 3px solid #3498db; /* Blue border for the spinning part */
    border-radius: 50%; /* Makes it a circle */
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite; /* Apply the spin animation */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.result{
    display: flex;
    justify-content: space-evenly;
}
.result div{
    font-size: 50px;
}

.btnTryAgain{
    width: 100%;
    border: none;
    padding: 5px;
    border-radius: 10px;
    font-weight: 800;
    cursor: pointer;
    transition: .3s;
}

.btnTryAgain:hover{
    background-color: rgb(0, 24, 24);
    color: white;
}