*{
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(9, 159, 159);
}

.container{
    max-width: 400px;
    width: 100%;
    background-color: rgb(9, 94, 94);
    color: white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container h1, p{
    text-align: center;
}

.container button{
    padding: 10px;
    margin: 10px 0;
    border: 2px solid white;
    background-color: rgb(9,94,94);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}
.container button:hover{
    transform: scale(1.1);
    font-weight: 700;
}